@font-face {
  font-family: "OpensSans";
  src: url("fonts/OpenSans.ttf") format("truetype");
}

* {
  font-family: "OpenSans", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  background-color: #fbf7f0;
}

/* Header */

header {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.5em;
  color: #9d9d9c;
}

header ul li a.active,
header ul li a:hover {
  color: #383937;
}

header ul li a.border {
  border-left: 1px solid #e0dfdc;
}

/* 
-------------------------------------------------------------------------------------------------------
                                                    Page 1
*/

/* Section */

.main-heros {
  display: flex;
  flex-wrap: nowrap;
  padding: 100px;
}

.main-heros h2 {
  font-size: 4em;
  font-weight: bold;
}

.main-heros p {
  margin: 50px 0 30px;
  font-size: 1.1em;
}

.deadpool {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  margin-left: 50px;
  background-color: #b05a58;
  order: 1;
}

.diamant {
  width: 40%;
  height: 50%;
  position: fixed;
  bottom: -10%;
  left: -20%;
  z-index: -1;
  opacity: 0.1;
}

.button {
  background-color: #2e302e;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}

/* 
-------------------------------------------------------------------------------------------------------
                                                    Page 2
*/

.main_super-heros {
  padding: 100px;
}

.main_super-heros h2 {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 20px;
}

.main_super-heros hr {
  margin: 0 0 100px;
}

.test {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.spider {
  width: 300px;
  height: 340px;
  border-radius: 20px;
  background-color: #073466;
}

.hulk {
  width: 300px;
  height: 340px;
  border-radius: 20px;
  background-color: #638346;
}

/* 
-------------------------------------------------------------------------------------------------------
                                                    Page 3
*/

.main_notre-blog {
  padding: 100px;
}

.main_notre-blog h2 {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 20px;
}

.main_notre-blog hr {
  margin: 0 0 40px;
}

.main_notre-blog p {
  margin: 0;
}

.main_notre-blog p a {
  color: black;
  font-weight: bold;
}

.def h2 {
  font-size: 2em;
}

.def {
  background-color: white;
  margin-top: 50px;
  padding: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* 
-------------------------------------------------------------------------------------------------------
                                                    Page 4
*/

.main_contact {
  padding: 100px;
}

.main_contact h2 {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 20px;
}

.main_contact hr {
  margin: 0 0 40px;
}

.main_contact p {
  margin: 0;
}

.main_contact p a {
  color: black;
  font-weight: bold;
}
