@font-face {
  font-family: "Bebas";
  src: url("assets/fonts/Bebas.ttf") format("truetype");
}

* {
  margin: 0;
}

body {
  -webkit-padding-start: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

/*________________________________________________________________HEADER________________________________________________________________*/

header {
  height: 100px;
  background: #868484;
  font-family: "Bebas", serif;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 4px;
}
nav {
  display: grid;
  grid-template-columns: 20%, 20%, 20%;
}
nav a {
  text-decoration: none;
}

.logo {
  grid-column: 1;
  font-size: 30px;
  letter-spacing: 5px;
  color: red;
}

.categorie {
  grid-column: 2;
  color: black;
  font-size: 20px;
}

.cv {
  grid-column: 3;
  font-size: 30px;
  letter-spacing: 5px;
  color: red;
}

/*________________________________________________________________________________________________________________________________*/
